
<div class="row">
    {{#each productos}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <img src="{{imgURL}}" alt=".">
                <h4 class="card-title">
                    {{title}}
                </h4>
                <p>
                    {{description}}
                </p>
                <p> ${{price}}</p>
                <a href="/productos/edit/{{_id}}" class="btn btn-primary btn-block btn-sm">Editar</a> 
               <form action="/productos/delete/{{_id}}?_method=DELETE" method="post">
               <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-block btn-sm" type="submit">Borrar</button>
               </form>
                
            </div>
        </div>
    </div>
{{else}}
<div class="card mx-auto">
    <div class="card-body">
        <p class="lead">
            No hay productos que mostrar aún.
        </p>
        <a href="/productos/add" class="btn btn-success btn-block">Agregue un producto a la tienda!.</a>
    </div>
</div>
    {{/each}}
</div>